 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 body{
  font-family: 'Lato', sans-serif;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
 }

 .naglowek{
  font-size: 70px;
  background-color: var(--white);
  position: absolute;
  color: var(--separator-on-light);
  padding: 0 20px;
  left: 60px;
  top: -40px;
 }
 .naglowek-linia{
  height: 6px;
  width: 100%;
  background-color: var(--separator-on-light);
  display: block;
  position: relative;
  margin: 60px 0 100px 0;
 }
