:root {
    /* Main colors */
    --black: #000000;
    --white: #ffffff;
    --light-background: #fffbf2;
    --primary: #b28b68;
    --red: #ff0000;

    /* KOLORY TEKSTU NA CIEMNYM TLE */
    --header-on-dark: #fff; 
    --text-on-dark: #b2b2b2;
    --sub-text-on-dark: #7f7f7f;
    --separator-on-dark: #191919;

    /* KOLORY TEKSTU NA JASNYM TLE */
    --header-on-light: #000;
    --text-on-light: #4D4C49;
    --sub-text-on-light: #B2B0A9;
    --separator-on-light: rgba(206, 199, 199, 0.6);
}
