:root {
    --background-light: #fffbf2;
    --background-dark: #212121;

    --background-black: #000;

    --color-o-nas-dziedzictwo: #b28b68;
    --color-o-nas-doswiadczenie: #b89949;
    --color-o-nas-warsztat: #966b2b;

    --color-repertuar-baszta: #e1bfa0;
    --color-repertuar-azja: #f22426;
    --color-repertuar-krakow: #b28b68;
}
