:root {
    /* Main colors */
    --black: #000000;
    --white: #ffffff;
    --light-background: #fffbf2;
    --primary: #b28b68;
    --red: #ff0000;

    /* KOLORY TEKSTU NA CIEMNYM TLE */
    --header-on-dark: #fff;
    --text-on-dark: rgba(255, 255, 255, 0.7);
    --sub-text-on-dark: rgba(255, 255, 255, 0.4);
    --separator-on-dark: rgba(255, 255, 255, 0.1);

    /* KOLORY TEKSTU NA JASNYM TLE */
    --header-on-light: #000;
    --text-on-light: #4d4c49;
    --sub-text-on-light: #b2b0a9;
    --separator-on-light: rgba(206, 199, 199, 0.6);
}
