.galeria-fotografia-kontener{
  display: flex;
  gap: 60px;
  align-items: center;
}
#galeria-kontener{
  display: flex;
  gap: 20px;
}
.galeria-fotografia-zdjecie{
  position: relative;
}
.galeria-fotografia-zdjecie img{
  width: 560px;
  border-radius: 4px;
}
.galeria-fotografia-autor, .galeria-fotografia-autor-bold{
  font-size: 22px;
}
.galeria-fotografia-autor-bold{
  font-weight: bold;
}
.galeria-fotografia-autor{
  font-weight: normal;
  color: var(--text-on-light);
}
.galeria-fotografia-podpis{
  text-align: justify;
  color: var(--text-on-light);
}
.galeria-fotografia-tytul{
  margin: 30px 0 10px 0;
  font-size: 28px;
}
#galeria-naglowek{
  margin-bottom: 88px;
}
.galeria-brazowy-prostokat, .galeria-szary-prostokat{
  display: block;
  z-index: -1;
  position: absolute;
}
.galeria-szary-prostokat{
  background-color: var(--separator-on-light);
  height: 300px;
  width: 400px;
  right: -20px;
  bottom: -20px;
}
.galeria-brazowy-prostokat{
  background-color: var(--primary);
  height: 300px;
  width: 300px;
  top: -20px;
  left: -20px;
}