#galeria .galeria-fotografia-kontener {
    --image-width: 60%;

    gap: 60px;
    display: flex;
}

#galeria-kontener {
    display: flex;
    gap: 20px;
}
#galeria .galeria-fotografia-zdjecie {
    position: relative;
}
#galeria .galeria-fotografia-zdjecie img {
    width: 100%;
    border-radius: 4px;
}
#galeria .galeria-fotografia-opis {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 16px;
}

#galeria .galeria-fotografia-autor,
#galeria .galeria-fotografia-autor-bold {
    font-size: 22px;
}
#galeria .galeria-fotografia-autor-bold {
    font-weight: bold;
}
#galeria .galeria-fotografia-autor {
    font-weight: normal;
    color: var(--text-on-light);
}
#galeria .galeria-fotografia-podpis {
    text-align: justify;
    color: var(--text-on-light);
}
#galeria .galeria-fotografia-tytul {
    margin: 30px 0 10px 0;
    font-size: 36px;
}
#galeria-naglowek {
    margin-bottom: 88px;
}
#galeria .galeria-brazowy-prostokat,
#galeria .galeria-szary-prostokat {
    display: block;
    z-index: -1;
    position: absolute;
}
#galeria .galeria-szary-prostokat {
    --position: -120px;

    background-color: var(--separator-on-light);
    height: 300px;
    width: 400px;
    right: var(--position);
    bottom: -20px;
}
#galeria .galeria-brazowy-prostokat {
    --position: -20px;

    background-color: var(--primary);
    height: 300px;
    width: 300px;
    top: -20px;
    left: var(--position);
}

#galeria .galeria-fotografia-kontener:nth-of-type(odd) .galeria-brazowy-prostokat {
    left: var(--position);
    right: auto;
}

#galeria .galeria-fotografia-kontener:nth-of-type(odd) .galeria-szary-prostokat {
    left: auto;
    right: var(--position);
}

#galeria .galeria-fotografia-kontener:nth-of-type(even) .galeria-brazowy-prostokat {
    left: auto;
    right: var(--position);
}

#galeria .galeria-fotografia-kontener:nth-of-type(even) .galeria-szary-prostokat {
    left: var(--position);
    right: auto;
}

@media (min-width: 1001px) {
    #galeria .galeria-fotografia-kontener:nth-of-type(odd) {
        padding-left: 20px;
    }

    #galeria .galeria-fotografia-kontener:nth-of-type(even) {
        padding-right: 20px;
        flex-direction: row-reverse;
    }

    #galeria .galeria-fotografia-kontener .fotografia {
        width: 100%;
        aspect-ratio: 680 / 380;
    }

    #galeria .galeria-fotografia-kontener > div.galeria-fotografia-zdjecie {
        width: var(--image-width);
    }

    #galeria .galeria-fotografia-kontener > div.galeria-fotografia-opis {
        width: calc(100% - var(--image-width));
    }
}

@media (max-width: 1000px) {
    #galeria .galeria-fotografia-kontener {
        flex-direction: column;
    }

    #galeria .galeria-fotografia-kontener {
        align-items: stretch;
        justify-items: stretch;
    }

    #galeria .galeria-fotografia-kontener .fotografia {
        height: 450px;
        background-position: center;
    }

    #galeria .galeria-fotografia-kontener .galeria-brazowy-prostokat,
    #galeria .galeria-fotografia-kontener .galeria-szary-prostokat {
        display: none;
    }

    #galeria .galeria-fotografia-kontener:nth-of-type(even) .galeria-brazowy-prostokat {
        left: auto;
        right: 0;
    }

    #galeria .galeria-fotografia-kontener:nth-of-type(even) .galeria-szary-prostokat {
        left: 0;
        right: auto;
    }
    #galeria .galeria-fotografia-tytul {
        margin: 12px 0;
    }
}

@media (max-width: 600px) {
    #galeria .galeria-fotografia-kontener .fotografia {
        height: 350px;
    }
}
