.tab {
    display: inline-block;
    margin-left: 2em;
}
.lista-repertuarow-konkretny-spektakl {
    display: flex;
    align-items: center;
    gap: 50px;
}

.lista-repertuarow-konkretny-spektakl-wrapper-przyciskow {
    display: flex;
    gap: 8px;
    width: 100%;
}

.lista-repertuarow-konkretny-spektakl-przycisk {
    background-color: var(--primary);
    padding: 12px 0;
    font-size: 16px;
    border-radius: 6px;
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
    width: 170px;
    text-align: center;
    text-decoration: none;
}
.lista-repertuarow-konkretny-spektakl-przycisk:hover {
    opacity: 0.7;
}
.lista-repertuarow-konkretny-spektakl-szczegoly {
    display: flex;
    align-items: center;
    color: var(--text-on-light);
    gap: 16px;
}
.lista-repertuarow-konkretny-spektakl-szczegoly-bold {
    font-weight: bold;
    color: var(--black);
}
.lista-repertuarow-pionowa-linia {
    display: inline-block;
    background-color: var(--black);
    height: 20px;
    width: 2px;
}
.lista-repertuarow-konkretny-spektakl-hashtags {
    color: var(--primary);
    margin-bottom: 14px;
}

.lista-repertuarow-konkretny-spektakl-tytul {
    font-size: 60px;
    margin: 24px 0;
    line-height: 56px;
}
.lista-repertuarow-konkretny-spektakl-zdjecie {
    position: relative;
}
.lista-repertuarow-konkretny-spektakl-zdjecie img {
    width: 270px;
    border-radius: 6px;
}
.lista-repertuarow-konkretny-spektakl-godzina,
.lista-repertuarow-konkretny-spektakl-data,
.lista-repertuarow-konkretny-spektakl-sala {
    text-align: center;
    padding: 14px 30px;
    margin-bottom: 10px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
}
.lista-repertuarow-konkretny-spektakl-data-miejsce h1 {
    font-size: 30px;
}
.lista-repertuarow-konkretny-spektakl-data-miejsce p {
    color: var(--text-on-dark);
}
.lista-repertuarow-konkretny-spektakl-opis {
    text-align: justify;
    color: var(--text-on-light);
    margin: 30px 0;
}
.lista-repertuarow-konkretny-spektakl-prostokat {
    display: block;
    background-color: var(--sub-text-on-light);
    height: 390px;
    width: 460px;
    z-index: -1;
    position: absolute;
    top: -42px;
    left: -30px;
    opacity: 0.4;
    border-radius: 4px;
}
.lista-repertuarow-konkretny-spektakl-data-miejsce div:nth-child(3) {
    margin-top: 60px;
}
.lista-repertuarow-nawigacja-strony,
.lista-repertuarow-nawigacja-miesiace {
    display: flex;
}
.lista-repertuarow-nawigacja-strony {
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    max-width: 500px;
    margin: 150px auto 0 auto;
}
.lista-repertuarow-nawigacja-miesiace {
    margin-top: 40px;
    justify-content: center;
    gap: 20px;
}
.lista-repertuarow-nawigacja-strony button,
.lista-repertuarow-nawigacja-miesiace button {
    background-color: var(--light-background);
    border: 1px solid var(--sub-text-on-light);
    font-size: 18px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.lista-repertuarow-nawigacja-strony button:hover,
.lista-repertuarow-nawigacja-miesiace button:hover {
    background-color: var(--sub-text-on-light);
}
.lista-repertuarow-nawigacja-strony button:focus,
.lista-repertuarow-nawigacja-strony button.wybrany,
.lista-repertuarow-nawigacja-miesiace button:focus,
.lista-repertuarow-nawigacja-miesiace button.wybrany {
    background-color: var(--black);
    color: var(--white);
}

.lista-repertuarow-nawigacja-strony button {
    width: 50px;
}
.lista-repertuarow-nawigacja-miesiace button {
    width: 260px;
}

@media (max-width: 1000px) {
    .lista-repertuarow-konkretny-spektakl-wrapper-przyciskow > * {
        width: 100%;
    }
}
@media (min-width: 601px) and (max-width: 1000px) {
    .lista-repertuarow-konkretny-spektakl-wrapper-przyciskow {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .lista-repertuarow-konkretny-spektakl {
        flex-wrap: wrap;
    }
    .lista-repertuarow-konkretny-spektakl-zdjecie {
        width: calc(100% - 240px);
    }
    .lista-repertuarow-konkretny-spektakl-prostokat {
        width: 100%;
        max-width: 460px;
    }

    .lista-repertuarow-konkretny-spektakl-zdjecie img {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .lista-repertuarow-konkretny-spektakl-wrapper-przyciskow {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .lista-repertuarow-konkretny-spektakl {
        flex-direction: column;
    }
    .lista-repertuarow-konkretny-spektakl-zdjecie {
        order: -1;
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .lista-repertuarow-konkretny-spektakl-data-miejsce {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    .lista-repertuarow-konkretny-spektakl-data-miejsce > * {
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .lista-repertuarow-konkretny-spektakl-szczegoly {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .lista-repertuarow-konkretny-spektakl-prostokat,
    .lista-repertuarow-nawigacja-strony .paginacja-strona:nth-of-type(6),
    .lista-repertuarow-konkretny-spektakl-szczegoly > .lista-repertuarow-pionowa-linia {
        display: none;
    }

    .lista-repertuarow-konkretny-spektakl-zdjecie img {
        width: 100%;
    }

    .lista-repertuarow-nawigacja-strony {
        gap: 6px;
    }

    .lista-repertuarow-nawigacja-miesiace {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .lista-repertuarow-nawigacja-miesiace > * {
        width: 100% !important;
    }
}

@media (max-width: 480px) {
    .lista-repertuarow-konkretny-spektakl-tytul {
        font-size: 48px;
    }

    .lista-repertuarow-nawigacja-strony .paginacja-strona:nth-of-type(5) {
        display: none;
    }

    .lista-repertuarow-konkretny-spektakl-data-miejsce {
        gap: 8px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
