@import "./sekcja-glowna-jasna.css";
@import "./sekcja-czarny-przerywnik.css";

.zobacz-wiecej {
    font-size: 16px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    max-width: 480px;
    align-self: center;
    margin-top: 10px;
    border-color: #000;
}

.zobacz-wiecej:hover {
    opacity: 0.74;
}

.ogolny-opis-sekcji {
    color: inherit;
    text-align: justify;
    margin: 24px 0 48px 0;
}

.ogolny-separator{
    margin: 96px 0;
    height: 4px;
    width: 520px;
    background-color: var(--separator-on-light);
    display: block;
}