.jasna-glowna-sekcja-wrapper {
    width: 100vw;
}

.jasna-glowna-sekcja-wrapper .ogolny-opis-sekcji {
    color: var(--text-on-light);
}

.jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc {
    max-width: 1200px;
    width: calc(100vw - 32px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 64px 0 96px 0;
}

.jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek {
    position: relative;
    height: 84px;
    margin: 32px 0 16px 0;
}
.jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 100%;
    background-color: var(--separator-on-light);
}

.jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc {
    position: absolute;
    font-size: 70px;
    background-color: var(--light-background);
    color: var(--separator-on-light);
    padding: 0 20px;
    left: 64px;
}

.jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc.odbicie {
    left: auto;
    right: 64px;
}

@media (max-width: 800px) {
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek {
        margin: 64px 0 48px 0;
    }
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc {
        left: 50%;
        transform: translateX(-50%);
    }
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .ogolny-opis-sekcji {
        margin-bottom: 32px;
    }
}

@media (max-width: 600px) {
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek {
        height: 74px;
        margin: 64px 0 16px 0;
    }
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek::before {
        content: none;
    }

    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc {
        position: static;
        font-size: 64px;
        text-align: center;
        padding: 0;
        width: 100%;
        left: 0;
        transform: none;
    }
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc {
        width: calc(100vw - 24px);
    }
}

@media (max-width: 480px) {
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek {
        height: 70px;
    }

    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc {
        font-size: 56px;
    }
}

@media (max-width: 430px) {
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek {
        height: 58px;
    }

    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc {
        font-size: 48px;
    }
}

@media (max-width: 360px) {
    .jasna-glowna-sekcja-wrapper > .jasna-glowna-sekcja-tresc > .naglowek > .naglowek-tresc {
        font-size: 42px;
    }
}
