.sekcja-czarny-przerywnik-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--black);
    color: var(--white);
    padding: 64px 0 48px 0;
}

.sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc .sekcja-czarny-przerywnik-naglowek {
    font-size: 60px;
    text-align: center;
}

.sekcja-czarny-przerywnik-wrapper .ogolny-opis-sekcji {
    color: var(--text-on-dark);
    max-width: 1200px;
}

.sekcja-czarny-przerywnik-wrapper .zobacz-wiecej {
    background-color: var(--white);
    color: var(--black);
}

.sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc {
    max-width: 1200px;
    width: calc(100vw - 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc.rzad {
    flex-direction: row;
}

.sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc .ogolny-opis-sekcji {
    text-align: center;
}

@media (max-width: 600px) {
    .sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc .sekcja-czarny-przerywnik-naglowek {
        font-size: 52px;
    }
    .sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc {
        width: calc(100vw - 24px);
    }

    .sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc .ogolny-opis-sekcji {
        text-align: justify;
    }
}

@media (max-width: 460px) {
    .sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc .sekcja-czarny-przerywnik-naglowek {
        font-size: 48px;
    }
}

@media (max-width: 400px) {
    .sekcja-czarny-przerywnik-wrapper .sekcja-czarny-przerywnik-tresc .sekcja-czarny-przerywnik-naglowek {
        font-size: 42px;
    }
}
