#newsletter {
    width: 100vw;
    background-color: var(--black);
}
#newsletter-kontener {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 50px 0;
}
#newsletter-naglowek-badz-na-biezaco {
    font-size: 42px;
}
#newsletter-opis {
    text-align: center;
    color: var(--text-on-dark);
    margin: 30px 0;
}
#newsletter-naglowek-zapisz {
    font-size: 24px;
}
#newsletter-input-RODO {
    display: none;
}
#newsletter-custom-input {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.1s;
    height: 30px;
    width: 30px;
    color: var(--white);
    background-color: rgb(44, 43, 43);
    border-radius: 4px;
    border: 1px solid var(--white);
    transition: background-color 0.2s;
}
#newsletter-custom-input > i {
    opacity: 0;
    transition: opacity 0.2s;
    color: #000;
    font-size: 24px;
}
#newsletter-custom-input.checked {
    background-color: #fff;
}

#newsletter-custom-input.checked > i {
    opacity: 1;
}
#newsletter-klauzula-kontener {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#newsletter-input-RODO:hover {
    opacity: 0.6;
}
#newsletter-klauzula-RODO {
    font-weight: bold;
    color: var(--white);
}
#newsletter-label-RODO {
    color: var(--text-on-dark);
}
#newsletter-dolacz {
    font-size: 16px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: var(--white);
    color: var(--black);
    width: 500px;
    margin-top: 40px;
}
#newsletter-dolacz:hover {
    opacity: 0.74;
}
#newsletter-input-email {
    padding: 14px 180px;
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 12px;
    margin-bottom: 34px;
    color: var(--text-on-dark);
    background-color: rgb(44, 43, 43);
    border: 1px solid var(--white);
    border-radius: 4px;
}
