#newsletter #newsletter {
    width: 100vw;
    background-color: var(--black);
}
#newsletter #newsletter-kontener {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 50px 0;
}
#newsletter #newsletter-naglowek-badz-na-biezaco {
    font-size: 42px;
    text-align: center;
}
#newsletter #newsletter-opis {
    color: var(--text-on-dark);
}
#newsletter #newsletter-naglowek-zapisz {
    font-size: 24px;
    text-align: center;
}
#newsletter #newsletter-input-RODO {
    display: none;
}
#newsletter #newsletter-custom-input {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.1s;
    height: 30px;
    width: 30px;
    color: var(--white);
    background-color: rgb(44, 43, 43);
    border-radius: 4px;
    border: 1px solid var(--white);
    transition: background-color 0.2s;
}
#newsletter #newsletter-custom-input > i {
    opacity: 0;
    transition: opacity 0.2s;
    color: #fff;
    font-size: 24px;
}

#newsletter #newsletter-custom-input.checked > i {
    opacity: 1;
}

#newsletter #newsletter-klauzula-kontener {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#newsletter #newsletter-input-RODO:hover {
    opacity: 0.6;
}

#newsletter #newsletter-klauzula-RODO {
    font-weight: bold;
    color: var(--white);
}

#newsletter #newsletter-label-RODO {
    color: var(--text-on-dark);
}

#newsletter #newsletter-dolacz {
    font-size: 16px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: var(--white);
    color: var(--black);
    margin-top: 40px;
}

#newsletter #newsletter-dolacz:hover {
    opacity: 0.74;
}

#newsletter #newsletter-input-email {
    font-size: 18px;
    text-align: center;
    display: block;
    margin-top: 16px;
    margin-bottom: 34px;
    color: var(--text-on-dark);
    background-color: rgb(44, 43, 43);
    border: 1px solid var(--white);
    width: 100%;
    height: 50px;
    max-width: 480px;
    border-radius: 4px;
    transition: all 0.2s;
}

#newsletter #newsletter-input-email:focus {
    outline: none;
    color: #fff;
}
