@import "./_keyframes.css";

header#layout-navigation:not(&[data-navigation-state="no-scroll"]) > div.content {
    padding: 4px 0;
}

header#layout-navigation[data-navigation-state="no-scroll"] {
    box-shadow: none;
}

header#layout-navigation[data-navigation-state="no-scroll"].jasny-motyw {
    background-color: var(--light-background);
    color: #000;
}

header#layout-navigation[data-navigation-state="no-scroll"] > div.content {
    padding: 32px 64px;
}

@media (min-width: 1001px) {
    header#layout-navigation[data-navigation-state="visible"] {
        animation: fadeIn 0.2s ease-in-out both;
    }

    header#layout-navigation[data-navigation-state="hidden"] {
        animation: fadeOut 0.2s ease-in-out both;
    }
}

@media (max-width: 800px) {
    header#layout-navigation[data-navigation-state="no-scroll"] > div.content {
        padding: 32px 32px;
    }
}

@media (max-width: 800px) {
    header#layout-navigation[data-navigation-state="no-scroll"] > div.content {
        padding: 24px 16px;
    }
}
