#autorzy {
    padding: 16px 0;
}
#autorzy-nazwiska {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 14px;
}
#autorzy-linia {
    height: 24px;
    width: 1px;
    background-color: rgb(47, 46, 46);
    opacity: 0.4;
}
#autorzy-podpis {
    text-align: center;
    padding-top: 8px;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 600px) {
    #autorzy-nazwiska {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    #autorzy-linia {
        display: none;
    }
}
