#o-nas{
  width: 100vw;
}
#o-nas-kontener{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.o-nas-przycisk{
  padding: 12px 0;
  width: 200px;
  font-size: 16px;
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  transition: opacity 0.2s;
  cursor: pointer;
}
.o-nas-przycisk:hover{
  opacity: 0.7;
}
.o-nas-opis-pierwszy-naglowek{
  color: var(--primary);
  font-size: 20px;
}
.o-nas-opis-drugi-naglowek{
  font-size: 60px;
  margin-bottom: 20px;
  padding-top: 6px;
}
.o-nas-tagi{
  display: flex;
  gap: 10px;
}
.o-nas-tag{
  border-radius:20px;
  border: 2px solid var(--primary);
  padding: 8px 20px;
  transition: all 0.2s;
  cursor: pointer;
  font-weight: 400;
}
.o-nas-tag:hover{
  background-color: var(--primary);
  color: var(--white);
}
.o-nas-opis-sekcji{
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 40px;
  
}
.o-nas-zdjecie{
  border-radius: 10px;
  width: 360px;
  height: 480px;
}
.o-nas-kontent{
  display: flex;
  gap: 120px;
  align-items: center;
}
.o-nas-naglowek{
  padding-top: 40px;
  margin-bottom: -50px;
}
