#recenzje #recenzje-kontent {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
    gap: 24px;
}

#recenzje #recenzje-kontent > div {
    width: calc((100% - 48px * 2) / 3);
    text-align: center;
    margin-bottom: 24px;
}
#recenzje .data {
    color: var(--sub-text-on-light);
    font-size: 14px;
    margin-top: 10px;
}
#recenzje .ocena {
    display: flex;
    width: 100%;
    margin: 16px auto;
    justify-content: center;
}
#recenzje .ocena i {
    font-size: 32px;
}
#recenzje #recenzje-kontent h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    position: relative;
}
#recenzje .opis {
    color: var(--text-on-light);
    margin-top: 16px;
}
#recenzje #recenzje-kontent h3::after {
    content: "";
    background-color: var(--separator-on-light);
    width: 160px;
    height: 2px;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {
    #recenzje #recenzje-kontent > div {
        width: calc((100% - 24px) / 2);
    }
}

@media (max-width: 600px) {
    #recenzje #recenzje-kontent > div {
        width: 100%;
    }

    #recenzje .zobacz-wszystkie {
        width: 100%;
    }
}
