#wszystkie-repertuary {
    --gap: 8px;
}

#wszystkie-repertuary-poboczne-zdjecia,
#wszystkie-repertuary-glowne-zdjecia {
    display: grid;
    gap: var(--gap);
    width: 100%;
}

#wszystkie-repertuary-glowne-zdjecia {
    grid-template-columns: repeat(4, 1fr);
}
#wszystkie-repertuary-glowne-zdjecia > * {
    width: 100%;
    aspect-ratio: 0.9;
}
#wszystkie-repertuary-poboczne-zdjecia {
    margin-top: var(--gap);
    grid-template-columns: repeat(8, 1fr);
}

#wszystkie-repertuary-poboczne-zdjecia > * {
    width: 100%;
    aspect-ratio: 1;
}
#wszystkie-repertuary-zdjecia-wiecej {
    display: block;
    background-color: var(--separator-on-dark);
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
#wszystkie-repertuary-poboczne-zdjecia img,
#wszystkie-repertuary-zdjecia-wiecej,
#wszystkie-repertuary-glowne-zdjecia img {
    border-radius: 4px;
    cursor: pointer;
}
#wszystkie-repertuary-obrazek-wiecej-zdjec-naglowek {
    font-size: 42px;
}
#wszystkie-repertuary-obrazek-wiecej-zdjec-podpis {
    font-size: 24px;
    color: var(--text-on-dark);
}
#wszystkie-repertuary-zobacz-pelen-repertuar {
    font-size: 16px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    max-width: 480px;
    align-self: center;
    margin-top: 10px;
    border: none;
    margin-top: 40px;
}
#wszystkie-repertuary-zobacz-pelen-repertuar:hover {
    opacity: 0.7;
}

@media (max-width: 900px) {
    #wszystkie-repertuary-glowne-zdjecia {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #wszystkie-repertuary-poboczne-zdjecia {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    #wszystkie-repertuary-poboczne-zdjecia {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #wszystkie-repertuary-poboczne-zdjecia > img:nth-of-type(6),
    #wszystkie-repertuary-poboczne-zdjecia > img:nth-of-type(7) {
        display: none;
    }
}
