#wszystkie-repertuary-opis{
  text-align: justify;
  color: var(--text-on-dark);
}
#wszystkie-repertuary-naglowek{
  text-align: center;
  font-size: 60px;
}
#wszystkie-repertuary-kontener{
  padding: 40px 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#wszystkie-repertuary-glowne-zdjecia{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#wszystkie-repertuary-glowne-zdjecia img{
  width: 24.5%;
}
#wszystkie-repertuary-poboczne-zdjecia{
  display: flex;
  gap: 10px;
  justify-content: center;
}
#wszystkie-repertuary-poboczne-zdjecia img{
  width: 140px;
}
#wszystkie-repertuary-zdjecia-wiecej{
  display: block;
  width: 140px;
  height: 140px;
  background-color: var(--separator-on-dark);
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
#wszystkie-repertuary-poboczne-zdjecia img, #wszystkie-repertuary-zdjecia-wiecej, #wszystkie-repertuary-glowne-zdjecia img{
  border-radius: 4px;
  cursor: pointer;
}
#wszystkie-repertuary-obrazek-wiecej-zdjec-naglowek{
  font-size: 42px;
}
#wszystkie-repertuary-obrazek-wiecej-zdjec-podpis{
  font-size: 24px;
  color: var(--text-on-dark);
}
#wszystkie-repertuary-zobacz-pelen-repertuar{
    font-size: 16px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    max-width: 480px;
    align-self: center;
    margin-top: 10px;
    border: none;
    margin-top: 40px;
}
#wszystkie-repertuary-zobacz-pelen-repertuar:hover{
  opacity: 0.7;
}